{% extends "base.html" %}
{% block title %}Matt's Website{% endblock %}
{% block content %}
<h1>Matt Burkhard's Web Applications</h1>
<p><li class="active"><a href="/twitter/">Parrot</a></li></p>
<p>Applies markov chains to tweets</p>
<p><li class="active"><a href="/chess/">Opening Guru</a></li></p>
<p>Parses chess.com api to find players' records using/against specific openings</p>
<p><li class="active"><a href="/covid/">Covid Simulator</a></li></p>
<p>Agent-based modeling to simulate an infectious disease</p>
<p><li class="active"><a href="/motif_finder/">Motif Finder</a></li></p>
<p>Evaluates efficiency of Gibbs Sampling</p>
<p><li class="active"><a href="/board/">Bored</a></li></p>
<p>A basic imageboard for when you're bored</p>
<p><li class="active"><a href="/what2wear/">What Would Michael Wear?</a></li></p>
<p>If Michael Cera was with you right now, what would he wear?</p>
{% endblock %}